.footer {
  width: 100vw;
  height: 3rem;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  align-items: center;
  justify-content: center;
  background-color: #00334c;
  color: #fff;
}

.title-footer {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
