.container-home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 90vh;
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-img-yo {
  object-fit: cover;
  width: 100%;
  border-radius: 30px;
}

.home-button {
  border: none;
  padding: 10px 50px;
  background-color: #57c9e0;
  border-radius: 20px;
  text-align: center;
  color: white;
  font-weight: 700;
  width: 176px;
}

.home-containers-icons {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  width: 176px;
  margin-top: 10px;
}

.github,
.linkedin {
  font-size: 30px;
}
.linkedin {
  color: rgb(0, 70, 184);
}
