.container-home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  height: 80vh;
  justify-content: space-evenly;
  background: linear-gradient(-45deg, #00334c 50%, #00557f);
}

.container-img-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.container-home-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container-img-icons {
  display: flex;
}
.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-containers-icons {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.container-home-buttons {
  display: flex;
  justify-content: space-around;
  flex-basis: max-content;
}

.yo {
  width: 40%;
  height: 85%;
  border-radius: 0.5rem;
  padding: 15px 0px;
  overflow: hidden;
}

.home-nombre {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

.home-subnombre {
  color: #829da2;
  font-weight: 400;
  text-align: center;
}

.home-button {
  background-color: #9f84bd;
  border-radius: 20px;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  justify-content: flex-end;
  cursor: pointer;
  scroll-behavior: smooth;
}
.home-button:nth-child(1) {
  width: 130px;
}
.home-button:nth-child(2) {
  text-align: center;
  width: 110px;
}

.icon-contacto,
.icon-cv {
  color: rgb(63, 63, 63);
  padding-left: 7px;
}

.github,
.linkedin,
.whatsapp {
  padding: 10px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.github:active,
.linkedin:active,
.whatsapp:active {
  transform: scale(0.8);
}
/* .linkedin {
  color: rgb(0, 70, 184);
} */

@media (min-width: 768px) {
  .container-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container-img-mobile {
    order: 5;
  }
  .img-mobile {
    width: 550px;
    height: 250px;
  }
  .container-home-info {
    position: relative;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container-home-buttons {
    justify-content: center;
    gap: 50px;
    position: absolute;
    width: 100%;
    bottom: 30px;
  }
}
