.container-card-menu {
  width: 360px;
  height: 490px;
  background-color: bisque;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 999999;
}

.button-card-menu {
  position: absolute;
  top: 0;
  right: 0;
}
