/* .sobremi-container{} */

.sobremi-container {
  display: flex;
  flex-direction: column;
}

.sobremi-quiensoy,
.sobremi-yo {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  color: black;
}

.container-flecha {
  width: 60px;
  height: 60px;
  border: 1px solid red;
}

.sobremi-texto {
  padding: 0px 30px;
  margin: 3rem;
}

/* Rotacion de flecha */
.flecha {
  font-size: 20px;
  font-weight: 1000;
  transition: all 0.3s;
}

.rotate {
  transform: rotate(90deg);
}

/* ////////////////////////////////// */

/* Mostrar o desaparecer el texto  */

.hidden {
  color: transparent;
  transform: translateX(-100px);
  transition: all 1s ease;
}

.visible {
  background-color: #7ee3f7;
  border-radius: 20px;
  padding: 20px 20px;
  transform: translateX(0);
  transition: all 1s ease;
}

/* ///////////////////////////////// */
