/* .sobremi-container{} */

.sobremi-container {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
  height: 330px;
  padding: 0px 20px;
}

.title-quiensoy {
  position: relative;
  font-weight: 400;
  cursor: pointer;
  font-size: 40px;
}

.title-porqueyo {
  font-weight: 400;
  cursor: pointer;
  font-size: 40px;
}

.sobremi-quiensoy,
.sobremi-yo {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  color: #02203c;
  cursor: pointer;
  font-size: 18px;
  padding: 0px 40px;
}

.container-flecha {
  width: 60px;
  height: 60px;
  border: 1px solid red;
}

/* Rotacion de flecha */
.flecha {
  font-size: 20px;
  font-weight: 1000;
  transition: all 0.3s;
}

.rotate {
  transform: rotate(90deg);
}

/* ////////////////////////////////// */

/* Mostrar o desaparecer el texto  */

.porqueyo-hidden {
  margin: -1.3rem;
}

.hidden {
  color: transparent;
  transform: translateX(-100%);
  transform: translateY(60%);
  z-index: -100000;
  margin: -1.7rem;
  z-index: -100000;
  transition: all 3s ease;
}

.hiddenDos {
  transform: translateX(200%);
  transform: translateY(100%);
  transition: all 2s ease;
}
.visible {
  border-radius: 20px;
  padding: 0px 40px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transform: translateX(0);
  transform: translateY(0);
  transition: all 1.2s ease;
  z-index: 100000;
  font-weight: 300;
  color: hsl(190, 8%, 45%);
}
.visibleDos {
  transition: all 1s ease;
}

/* ///////////////////////////////// */

@media (min-width: 768px) {
  .sobremi-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
