.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 350px;
  padding: 50px 0;
  cursor: pointer;
}
.container-title-p {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0px 0px 0px 30px;
  height: 30%;
}

.container-card-buttons {
  display: flex;
  width: 100%;
  gap: 20px;
}

.imagen-card {
  object-fit: cover;
  width: 100%;
  height: 40%;
}

.title-card {
  font-size: 1.2rem;
}
.card-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: #1a56db;
  font-weight: 400;
  color: white;
}

@media (min-width: 1000px) {
  .card {
    width: 450px;
    height: 700px;
  }
}
