* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  border: 1px solid red;
  background-color: #fff;
  z-index: 11;
}

.ul {
  position: fixed;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 120px;
  gap: 35px;
  width: 100%;
  transition: transform 1.5s ease;
  border: 1px solid red;
}
.menu {
  font-size: 24px;
}

.closed {
  /* display: none; */
  transform: translateY(500px);
}

.open {
  transform: translateY(325px);
}
