* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.nombre-icon-container {
  display: flex;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.mi-nombre {
  color: #fff;
}
.icon {
  font-size: 40px;
  color: #fff;
}
.letra-icon {
  position: relative;
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.letra-icon::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: all 1s ease-in-out;
}

.letra-icon:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.letra-icon:active {
  transform: scale(0.9);
}

.closed-menu {
  top: 20px;
  right: 20px;
  position: absolute;
  font-weight: 700;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  z-index: 9999;
  padding: 0 20px;
  background-color: #00334c;
}

.container-iconsss {
  display: flex;
  gap: 15px;
}
.ul {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100vw;
  height: 100vh;
  transition: transform 0.7s ease-in-out;
  z-index: 100;
  padding: 7px 20px;
  background-color: #00334c;
}
.ul-adentro {
  display: none;
}
.menu {
  font-size: 25px;
  color: #fff;
}

.closed {
  transform: translateX(-100%);
}

.open {
  transform: translateX(0px);
}

@media (min-width: 768px) {
  .ul {
    display: none;
  }
  .container-iconsss {
    display: none;
  }

  .header {
    position: relative;
    top: 0;
    justify-content: space-around;
    width: 100vw;
  }
  .ul-adentro {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
  }
  .icon {
    display: none;
  }
}
