.navbar-container{
    position: relative;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.hamburguesa {
    font-size: 30px;
    text-align: center;
}

.navbar-yo{
    margin-left: 70px;
}

.navbar-ul-li-general{
    list-style: none;
}

.navbar-ul-li-open{
    position: absolute;
    margin-bottom: 90px;
    top: 40px;
    right: 0;
    z-index: 3;
    width: 100vw;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #fff;
}
.navbar-ul-li-closed{
    position: absolute;
    right: 300%;
}
/* .navbar-ul{
    cursor: pointer;
    display: flex;
    gap:40px;
    list-style: none;
}

.navbar-ul-li:hover, .navbar-yo:hover{
    cursor: pointer;
    color: #57C9E0;
}

.navbar-ul-li:last-child {
    font-weight: bold;
} */
