.container-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin: 50px 0px 0px 0px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  border-radius: 0.5rem;
  gap: 10px;
  width: 80vw;
}

.container-span-input {
  display: flex;
  flex-direction: column;
}

.container-title {
  font-weight: 400;
}
.span-contacto {
  font-weight: 400;
  font-family: "Poppins";
  font-size: 12px;
}

.input-contacto {
  width: 300px;
  outline: none;
  border: 1px solid gray;
  padding: 5px;
}

textarea {
  resize: none;
  border: 1px solid blue;
}

.button-contacto {
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  background-color: #1a56db;
  font-weight: 400;
  color: white;
}
