.container-todo {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  white-space: hidden;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}
